openapi: 3.1.0
info:
  title: thirds.ai API
  version: 1.0.0
  description: Turn one design into content at scale. Create branded images and PDFs for your campaigns and clients. Automate
    each new version through our API or your AI tools. Render saved templates with new data, or send HTML directly. Every
    error uses one envelope, every response carries an x-request-id header, and every JSON request body rejects fields it
    does not expect.
servers:
- url: https://thirds.ai
paths:
  /v1/webhooks/{webhook_id}/test:
    post:
      summary: Send a signed test event
      description: Queue one sample render.succeeded event through the normal delivery worker. It spends no credits and creates
        no render. A recorded result schedules no retry, and tests cannot be replayed. Recovery can resend an unfinished attempt
        with the same event ID. Disabled destinations can be tested. One test per destination can wait at a time; completed
        tests are limited to one per minute. The destination signing secrets and egress policy apply.
      operationId: testWebhook
      security:
      - bearerAuth: []
      - sessionCookie: []
      parameters:
      - name: webhook_id
        in: path
        required: true
        description: The destination's public identifier, such as "wh_1f8b3c7d5e2a49061f8b3c7d5e2a4906".
        schema:
          type: string
          pattern: ^wh_[0-9a-f]{32}$
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '401':
          description: A valid session or API key is required.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '429':
          description: The request limit was reached. Retry after the time in Retry-After.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: The request failed internally.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: No destination with this ID belongs to this account.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: The test attempt finished.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTest'
        '202':
          description: The test is still queued or in flight. Read the delivery log for its result before sending another.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTest'
  /v1/webhooks/{webhook_id}/deliveries:
    get:
      summary: Read recent webhook attempts
      description: Return up to 20 newest attempts for this destination, in reverse time order. Attempts expire after 30 days.
        No request or response body is stored.
      operationId: listWebhookDeliveries
      security:
      - bearerAuth: []
      - sessionCookie: []
      parameters:
      - name: webhook_id
        in: path
        required: true
        description: The destination's public identifier, such as "wh_1f8b3c7d5e2a49061f8b3c7d5e2a4906".
        schema:
          type: string
          pattern: ^wh_[0-9a-f]{32}$
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '401':
          description: A valid session or API key is required.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '429':
          description: The request limit was reached. Retry after the time in Retry-After.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: The request failed internally.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: No destination with this ID belongs to this account.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: The latest attempts for this destination.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryList'
  /v1/me/identities/email:
    post:
      summary: Add an email to an account without one
      description: Requires a signed-in browser session and its CSRF token. Sends a one-use verification link bound to that
        account and exact session. Open the link in the same browser while signed in, then press Complete sign in. POST /v1/auth/email/confirm
        proves the address and grants the current free monthly credits once. An account with an email cannot change it through
        this route.
      operationId: requestAccountEmail
      security:
      - sessionCookie: []
      parameters:
      - name: x-csrf-token
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEmailRequest'
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '401':
          description: A live browser session is required. Expired, revoked, and suspended sessions are refused.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The CSRF token is missing or does not match this browser session.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: The request limit was reached. Retry after the time in Retry-After.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: The request failed internally.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '202':
          description: The request was accepted. This does not confirm mail delivery or whether another account holds the
            address.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEmailAccepted'
        '400':
          description: The JSON request is invalid or has unknown fields.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: This account already has an email address. The code is email_already_set.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: The email address is invalid. The code is invalid_email.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Email delivery is not configured. The code is auth_unavailable.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /v1/image-assets/preview:
    post:
      summary: Preview a URL image
      description: Read a public HTTP or HTTPS PNG, JPEG, or WebP through the checked asset transport. Credentials, private
        destinations, unsafe DNS answers, and redirects to them are refused. At most five redirects and 15 seconds total.
        The same upload decoder checks the 10 MiB, dimension, pixel, and memory limits. Returns verified bytes without storage
        or a render charge. Browser sessions require CSRF.
      operationId: previewImageUrl
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  maxLength: 4096
              required:
              - url
              additionalProperties: false
      responses:
        '200':
          description: The verified image bytes and dimensions after orientation.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            x-image-width:
              schema:
                type: integer
            x-image-height:
              schema:
                type: integer
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/image-assets:
    post:
      summary: Upload an image
      description: Store one private, immutable PNG, JPEG, or WebP image. Send the raw bytes with the matching Content-Type.
        Maximum 10 MiB, 7680 by 4320 stored pixels, 32 million pixels, and 64 MiB decoded memory. Animated images are refused.
        Images and brand assets share an account limit of 100 files and 100 MiB. Use the returned reference in an HTML body
        img src, or in template data for an img src. Render creation checks ownership after template expansion and captures
        the exact bytes. References are not public URLs. PDF header and footer templates do not support image references.
        No render credit is charged for an upload.
      operationId: uploadImage
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: The image is stored.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedImage'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/image-assets/{id}/content:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^asset_[a-f0-9]{32}$
    get:
      summary: Read an owned image
      description: Return verified image or captured brand logo/font bytes to their owner. Missing and foreign assets return
        the same 404 error. The response uses private, no-store caching and nosniff.
      operationId: readImageContent
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The exact image bytes.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            font/woff2:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/openapi.json:
    get:
      summary: Get the OpenAPI document
      description: Return this API contract as a JSON document.
      operationId: getOpenApiDocument
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '200':
          description: The OpenAPI document.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
  /v1/public-stats:
    get:
      summary: Read measured public facts
      description: Return the count of successful customer and playground files, the reviewed gallery template count, and
        the weakest uptime and current status from the public status page. The response is cached for five minutes. Customer
        content and account data never enter this response.
      operationId: getPublicStats
      responses:
        '200':
          description: The measured public facts. Uptime is unavailable when the status provider does not answer.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            cache-control:
              schema:
                type: string
              description: The five-minute public cache policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStats'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/testimonials:
    post:
      summary: Offer a testimonial for private review
      description: Store one visitor's name, company, quote, and permission for owner review. Sending this request never publishes
        the quote. A same-site browser origin and a fresh CAPTCHA pass protect the form.
      operationId: submitTestimonial
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestimonialRequest'
      responses:
        '201':
          description: The testimonial is stored for private owner review.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestimonialSubmission'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/pdf:
    post:
      summary: Create a PDF
      description: Render one PDF from raw HTML, an inline stateless template, or one owned saved-template version. An omitted
        saved version resolves to one exact immutable version before data validation, admission, idempotency, queueing, or
        billing. Template evaluation happens before storage and only evaluated HTML enters render input. Returns 200 for a
        terminal job or 202 while the accepted job remains queued or running. A terminal job can be succeeded, failed, or
        cancelled; check status before downloading. Send wait=false to skip the bounded wait. Every mode uses the same queue,
        renderer, retention, webhook, and fixed one-credit success price.
      operationId: createPdf
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: 1 to 255 printable ASCII characters. A repeated key with the same logical request replays one job; a
          different logical request conflicts. Stateless fingerprints include original source, sorted data, and effective
          render options. Saved-template fingerprints include the exact resolved template version, sorted data, and effective
          options. wait, request IDs, and transport choices do not affect the fingerprint.
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[ -~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfRequest'
            examples:
              raw_html:
                summary: Raw HTML
                value:
                  html: <h1>Quarterly report</h1><p>Ready to share.</p>
              stateless_template:
                summary: Stateless template with one data object
                value:
                  html: '<h1>{{ report.title }}</h1><p>Total: {{ report.total | currency }}</p>'
                  data:
                    report:
                      title: Quarterly report
                      total: 125000
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '200':
          description: The job is terminal. Check status for succeeded, failed, or cancelled; HTTP 200 does not mean the render
            succeeded.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Replayed:
              description: '"true" when this answer replays a job an earlier request with the same idempotency key already
                created.'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfJob'
        '202':
          description: The job was accepted and is still queued or running. Poll GET /v1/pdf/{id} for the terminal result.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Replayed:
              description: '"true" when this answer replays a job an earlier request with the same idempotency key already
                created.'
              schema:
                type: string
            Location:
              description: The job's own status URL, /v1/pdf/{id} — where to poll for the terminal result.
              schema:
                type: string
            Retry-After:
              description: How soon polling the status URL is worthwhile, in seconds.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfJob'
        '400':
          description: The request failed validation, saved-template data did not match its schema, bounded template evaluation
            failed, or the Idempotency-Key header was the wrong shape.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: The request did not carry a valid, active API key.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Always "Bearer" on this response.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '402':
          description: The account does not hold the one credit required for this render. The code is insufficient_credits.
            The reservation settles at one credit on success and is fully released on failure.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: This idempotency key was already used for a different logical request, or the selected saved-template
            version changed before admission completed.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '413':
          description: The request is larger than this build accepts.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '415':
          description: The request did not carry a JSON content type.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: A direct fleet-protection limit was hit. The code is rate_limited, account_concurrency_limited, or
            key_concurrency_limited. Each key sustains five requests per second with an idle burst of twenty-one.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                minimum: 1
                maximum: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: The service is at capacity.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                minimum: 1
                maximum: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: An internal error occurred.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    get:
      summary: List render history
      description: 'List the authenticated account''s render jobs, newest first. Failed or cancelled jobs removed through
        DELETE do not appear. Bounded by keyset: pass the previous page''s next_cursor to continue, rather than an offset,
        so a page already read stays stable while new jobs are created.'
      operationId: listPdfHistory
      security:
      - bearerAuth: []
      parameters:
      - name: q
        in: query
        description: Case-insensitive search of references, template names, and file types.
        schema:
          type: string
          maxLength: 200
          pattern: ^[^\u0000-\u001f\u007f-\u009f]*$
      - name: limit
        in: query
        required: false
        description: 1 to 100. Defaults to 20. A value outside this range is clamped rather than refused.
        schema:
          type: integer
          default: 20
      - name: cursor
        in: query
        required: false
        description: An opaque value from an earlier page's next_cursor. A cursor that cannot be read is refused with 400.
        schema:
          type: string
          maxLength: 128
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '200':
          description: One page of the account's render history.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfHistoryPage'
        '400':
          description: The limit parameter was not a whole number, the cursor could not be read, or the query held an unknown
            parameter.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: The request did not carry a valid, active API key.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Always "Bearer" on this response.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: An internal error occurred.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /v1/image:
    post:
      summary: Create a static image
      description: Render one PNG, JPEG, or WebP from raw HTML, an inline stateless template, or one owned saved-template
        version. Returns 200 for a terminal job or 202 while the accepted job remains queued or running. A terminal job can
        be succeeded, failed, or cancelled; check status before downloading. Send wait=false to skip the bounded wait. A successful
        render costs exactly one credit; a failed or cancelled render costs zero.
      operationId: createImage
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[ -~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRequest'
            examples:
              png:
                value:
                  html: <h1>Quarterly report</h1>
                  image:
                    format: png
                    width: 1280
                    height: 720
                    transparent: false
      responses:
        '200':
          description: The job is terminal. Check status for succeeded, failed, or cancelled; HTTP 200 does not mean the render
            succeeded.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageJob'
        '202':
          description: The image job is durable and remains queued or running.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageJob'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '402':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    get:
      summary: List image history
      description: 'List the authenticated account''s image jobs, newest first. Failed or cancelled jobs removed through DELETE
        do not appear. Bounded by keyset: pass the previous page''s next_cursor to continue, rather than an offset, so a page
        already read stays stable while new jobs are created.'
      operationId: listImageHistory
      security:
      - bearerAuth: []
      parameters:
      - name: q
        in: query
        description: Case-insensitive search of references, template names, and file types.
        schema:
          type: string
          maxLength: 200
          pattern: ^[^\u0000-\u001f\u007f-\u009f]*$
      - name: limit
        in: query
        required: false
        description: 1 to 100. Defaults to 20. A value outside this range is clamped rather than refused.
        schema:
          type: integer
          default: 20
      - name: cursor
        in: query
        required: false
        description: An opaque value from an earlier page's next_cursor. A cursor that cannot be read is refused with 400.
        schema:
          type: string
          maxLength: 128
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '200':
          description: One page of the account's image history.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageHistoryPage'
        '400':
          description: The limit parameter was not a whole number, the cursor could not be read, or the query held an unknown
            parameter.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: The request did not carry a valid, active API key.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Always "Bearer" on this response.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: An internal error occurred.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /v1/image/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^image_[0-9a-f]{32}$
    get:
      summary: Get a static image's status
      operationId: getImage
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The image job's current status.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageJob'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    delete:
      summary: Delete an image file or an unsuccessful render
      description: Remove a successful job's file, or remove a failed or cancelled job from history. Repeated requests are
        safe. The job stays readable by ID, and billing, abuse limits, and idempotency keys stay unchanged. Queued and running
        jobs return 409.
      operationId: deleteImage
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The image job after file or history removal.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageJob'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/image-packs:
    post:
      summary: Create an image pack
      description: 'Render one saved template version at every requested size: original for the version''s own canvas, a saved
        size id, a preset slug, or a WxH custom size adapted from the version''s original. Creates one normal image job per
        size. A size that cannot be adapted fails immediately with resize_source_unsupported; the other sizes still run. The
        ledger reserves one credit per job, settles it on success, and releases it on failure.'
      operationId: createImagePack
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[ -~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagePackCreate'
            examples:
              socialSet:
                value:
                  template_id: tpl_2f6a2f6a2f6a2f6a2f6a2f6a2f6a2f6a
                  version: 3
                  data:
                    headline: Autumn sale
                  format: png
                  sizes:
                  - square-post
                  - story
                  - 1200x628
      responses:
        '201':
          description: The pack was created, or an earlier request with the same idempotency key and body is replayed.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePack'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/image-packs/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^pack_[0-9a-f]{32}$
    get:
      summary: Get an image pack's status
      description: Returns the pack with each member's own state and, once any member has succeeded, a signed archive_url
        for the ZIP of every succeeded file.
      operationId: getImagePack
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The pack's current status.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePack'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/image-packs/{id}/retry:
    post:
      summary: Retry an image pack's failed members
      description: Creates one new job for every member whose last attempt failed or that never reached a job. A queued, running,
        or already succeeded member is left untouched.
      operationId: retryImagePack
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^pack_[0-9a-f]{32}$
      responses:
        '200':
          description: The pack after retry, with a new job for each member that was retried.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePackRetry'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/carousels:
    post:
      summary: Create a carousel
      description: Render selected pages of one saved template version as images, in the requested order. Creates one normal
        image job per page. The ledger reserves one credit per job, settles it on success, and releases it on failure. A successful
        PDF of the same pages still costs one credit through POST /v1/pdf.
      operationId: createCarousel
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[ -~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarouselCreate'
            examples:
              launchSlides:
                value:
                  template_id: tpl_2f6a2f6a2f6a2f6a2f6a2f6a2f6a2f6a
                  version: 1
                  data:
                    brand: Northline Studio
                  format: png
                  pages:
                  - cover
                  - message
                  - offer
                  - proof
                  - action
      responses:
        '201':
          description: The carousel was created, or an earlier request with the same idempotency key and body is replayed.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carousel'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/carousels/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^carousel_[0-9a-f]{32}$
    get:
      summary: Get a carousel's status
      description: Returns the carousel with each member's own state and, once any member has succeeded, a signed archive_url
        for the ZIP of every succeeded file.
      operationId: getCarousel
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The carousel's current status.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carousel'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/carousels/{id}/retry:
    post:
      summary: Retry a carousel's failed members
      description: Creates one new job for every member whose last attempt failed or that never reached a job. A queued, running,
        or already succeeded member is left untouched.
      operationId: retryCarousel
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^carousel_[0-9a-f]{32}$
      responses:
        '200':
          description: The carousel after retry, with a new job for each member that was retried.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarouselRetry'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/batches:
    post:
      summary: Create a render batch
      description: 'Render one saved template version once per data row as PDF, PNG, JPEG, or WebP. The account plan sets
        how many rows one run accepts: 10 on Free and a pack-only account, 50 on Starter, 100 on Growth, and 200 on Scale.
        A run over that limit answers 400 batch_row_limit with error.plan_limit. Validates every row against the version''s
        schema before any job exists. Creates one normal render job per row as account and key concurrency allow. Remaining
        rows stay pending until a later retry or the background drain. The ledger reserves one credit per admitted job, settles
        it on success, and releases it on failure or cancellation. quoted_credits is the row count, not a discount.'
      operationId: createBatch
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[ -~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreate'
            examples:
              certificates:
                value:
                  template_id: tpl_2f6a2f6a2f6a2f6a2f6a2f6a2f6a2f6a
                  version: 1
                  format: pdf
                  rows:
                  - issuer: Fieldnote Learning
                    learner: Alex Morgan
                    course: Clear plans
                    date: 4 September 2026
                  - issuer: Fieldnote Learning
                    learner: Theo Lee
                    course: Clear plans
                    date: 4 September 2026
      responses:
        '201':
          description: The batch was created, or an earlier request with the same idempotency key and body is replayed.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/batches/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^batch_[0-9a-f]{32}$
    get:
      summary: Get a render batch's status
      description: Returns the batch with each row's own state and, once any row has succeeded, a signed archive_url for the
        ZIP of every succeeded file. GET never starts billed work.
      operationId: getBatch
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The batch's current status.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/batches/{id}/retry:
    post:
      summary: Retry a batch's failed, cancelled, or pending rows
      description: Creates one new job for every row whose last attempt failed or was cancelled, and admits still-pending
        rows as concurrency allows. A queued, running, or already succeeded row is left untouched. Retry never bills a row
        that already succeeded.
      operationId: retryBatch
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^batch_[0-9a-f]{32}$
      responses:
        '200':
          description: The batch after retry, with a new job for each row that was retried.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRetry'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/batches/{id}/cancel:
    post:
      summary: Cancel a batch's pending and queued rows
      description: Stops rows that have no job yet and cancels queued jobs. Running jobs finish. Succeeded files stay downloadable.
        Cancelled and failed rows cost nothing.
      operationId: cancelBatch
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^batch_[0-9a-f]{32}$
      responses:
        '200':
          description: The batch after cancel.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/template-builds:
    post:
      summary: Start a template build
      description: 'Start one durable Build a template conversation from words, supported HTML, one source image, or your
        own working template source. The fixed successful price is 50 credits. A build from source makes no model call and
        costs 0 credits. A failed build releases the full reservation. Free monthly credits cannot pay for AI work: an account
        whose trial, pack, and subscription credits cannot cover the price answers 402 ai_needs_paid_credits and holds nothing.
        An AI message often takes a minute or two.'
      operationId: createTemplateBuild
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[ -~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildCreate'
      responses:
        '200':
          description: An earlier matching request was replayed.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuild'
        '202':
          description: The durable build was accepted.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuild'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '402':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/template-builds/{build_id}:
    parameters:
    - name: build_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateBuildId'
    get:
      summary: Get a template build
      operationId: getTemplateBuild
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The current draft and latest message facts.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuild'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/template-builds/{build_id}/messages:
    parameters:
    - name: build_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateBuildId'
    get:
      summary: List template chat messages
      operationId: listTemplateMessages
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The user-visible messages in chat order. One chat holds at most 100 messages.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: '#/components/schemas/TemplateMessage'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    post:
      summary: Edit the working template
      description: 'Run one later AI edit. A text or HTML edit costs 25 credits. A new source image costs 50 credits. A source
        message replaces the draft with your own working template, makes no model call, and costs 0 credits. A failed edit
        keeps the previous valid draft and releases the reservation. Free monthly credits cannot pay for AI work: an account
        whose trial, pack, and subscription credits cannot cover the price answers 402 ai_needs_paid_credits and holds nothing.
        An AI message often takes a minute or two.'
      operationId: editTemplateBuild
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[ -~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateMessageCreate'
      responses:
        '200':
          description: An earlier matching edit was replayed.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuild'
        '202':
          description: The durable edit was accepted.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuild'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '402':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/template-builds/{build_id}/draft:
    parameters:
    - name: build_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateBuildId'
    get:
      summary: Get the working template
      description: Read the current draft as editable source, sample data, schema, and output. The build has no draft until
        its first message succeeds.
      operationId: getTemplateBuildDraft
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The current working template.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildDraft'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/template-builds/{build_id}/messages/{message_id}/draft:
    parameters:
    - name: build_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateBuildId'
    - name: message_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateMessageId'
    get:
      summary: Get a completed message draft
      description: Read the retained final source, sample data, schema, and output from a succeeded message in an owned build.
        The response excludes the brand snapshot. Reading it changes no state and costs no credits. Pending, failed, and cancelled
        messages have no final draft.
      operationId: getTemplateMessageDraft
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The final draft. Cache-Control is private, no-store.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildDraft'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/template-builds/{build_id}/messages/{message_id}:
    parameters:
    - name: build_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateBuildId'
    - name: message_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateMessageId'
    delete:
      summary: Cancel a pending template message
      operationId: cancelTemplateMessage
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The message was cancelled and its reservation was released.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateMessage'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/template-builds/{build_id}/publish:
    parameters:
    - name: build_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateBuildId'
    post:
      summary: Publish the current working template
      description: Explicitly publish the current valid draft as one normal immutable saved-template version. Repeating publication
        of the same draft returns the same version.
      operationId: publishTemplateBuild
      security:
      - bearerAuth: []
      responses:
        '200':
          description: This draft was already published.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatePublication'
        '201':
          description: The immutable template version was published.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatePublication'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/templates:
    post:
      summary: Create a saved template
      operationId: createTemplate
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateWriteRequest'
      responses:
        '201':
          description: The created template, including version 1 source and schema.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDetail'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '413':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    get:
      summary: List saved templates
      description: List the account's active and archived templates newest first. Source and schema are omitted. Pass next_cursor
        to continue with a stable keyset page.
      operationId: listTemplates
      security:
      - bearerAuth: []
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - archived
          - all
          default: all
      - name: q
        in: query
        description: Search names on the server.
        schema:
          type: string
          maxLength: 120
          pattern: ^[^\u0000-\u001f\u007f-\u009f]*$
      - name: tag
        in: query
        description: Match one exact tag on the server.
        schema:
          type: string
          minLength: 1
          maxLength: 40
          pattern: ^[^\u0000-\u001f\u007f-\u009f]+$
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: cursor
        in: query
        schema:
          type: string
          maxLength: 128
      responses:
        '200':
          description: One page of saved-template summaries.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatePage'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/templates/preview:
    post:
      summary: Preview template data as HTML
      description: Expand source and a JSON data object through the bounded template engine. Optional schema validation uses
        the saved-template rules. This does not save a template, create a render, or spend credits. The response is untrusted
        customer HTML for an isolated preview. Browser sessions need the current CSRF token.
      operationId: previewTemplate
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatePreviewRequest'
      responses:
        '200':
          description: 'The expanded HTML. This response uses Cache-Control: private, no-store.'
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatePreview'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '503':
          $ref: '#/components/responses/Error'
  /v1/templates/adapt:
    post:
      summary: Adapt one HTML source to many canvas sizes
      description: Deterministically adapt one canonical HTML source to up to 20 target canvas sizes. This is free, needs
        a session or key, and uses the preview rate limit. It does not save a template, create a render, or spend credits.
        The response gives the adapted source per size, or a safe error code for that size.
      operationId: adaptTemplate
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateAdaptRequest'
      responses:
        '200':
          description: One entry per requested size, each with its adapted source or a safe error code.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateAdaptResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '504':
          $ref: '#/components/responses/Error'
  /v1/templates/{template_id}:
    parameters:
    - name: template_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateId'
    get:
      summary: Get a saved template
      operationId: getTemplate
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The template and its latest immutable version.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDetail'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    patch:
      summary: Rename a saved template
      description: Set or clear the name of one owned template. The name is trimmed and can have 1 to 120 characters. A null
        or blank name clears it.
      operationId: renameTemplate
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateRename'
      responses:
        '200':
          description: The template with its new name.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSummary'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    delete:
      summary: Archive a saved template
      description: Archive one owned template. The operation is idempotent. Archived templates and versions remain readable,
        but they cannot receive another version or create another render.
      operationId: archiveTemplate
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The template is archived.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSummary'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/templates/{template_id}/versions:
    parameters:
    - name: template_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateId'
    post:
      summary: Create a template version
      description: Edit a template by publishing one complete new immutable source and optional schema. Existing versions
        never change. Archived templates cannot receive another version.
      operationId: createTemplateVersion
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateVersionWriteRequest'
      responses:
        '201':
          description: The new immutable version, including source and schema.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateVersionDetail'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    get:
      summary: List template versions
      description: List immutable versions newest first. Source and schema are omitted. Archived template versions remain
        readable.
      operationId: listTemplateVersions
      security:
      - bearerAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: cursor
        in: query
        schema:
          type: string
          maxLength: 32
      responses:
        '200':
          description: One page of immutable version summaries.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateVersionPage'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/templates/{template_id}/versions/{version}:
    parameters:
    - name: template_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TemplateId'
    - name: version
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
    get:
      summary: Get a template version
      operationId: getTemplateVersion
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The exact immutable template version.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateVersionDetail'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/brand-kits:
    post:
      summary: Create a brand kit
      description: 'Create one mutable account-owned brand kit. Logos and fonts are uploaded through the kit''s asset route
        after creation. The account plan sets how many kits the account can keep: 1 on Free, a pack-only account, and Starter,
        5 on Growth, and 20 on Scale. Every kit of the account counts, archived kits too. A kit over that limit answers 409
        brand_kit_limit with error.plan_limit. An account above its limit after a downgrade keeps every kit and can still
        change and archive them.'
      operationId: createBrandKit
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandKitWrite'
      responses:
        '201':
          description: The brand kit was created.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKitDetail'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '409':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    get:
      summary: List brand kits
      description: List the account's active and archived brand kits newest first. Asset metadata is omitted from the page;
        read one kit for its current assets.
      operationId: listBrandKits
      security:
      - bearerAuth: []
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - archived
          - all
          default: all
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: cursor
        in: query
        schema:
          type: string
          maxLength: 128
      responses:
        '200':
          description: One page of brand-kit summaries.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKitPage'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/brand-kits/{brand_kit_id}:
    parameters:
    - name: brand_kit_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/BrandKitId'
    get:
      summary: Get a brand kit
      description: Return one owned kit and its current logo and font metadata. Replaced assets remain private durable content
        but are omitted.
      operationId: getBrandKit
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The brand kit and its current assets.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKitDetail'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    patch:
      summary: Update a brand kit
      description: Replace any supplied mutable brand values. Omitted fields stay unchanged; a null tone_guidance clears it.
        Archived kits cannot change.
      operationId: updateBrandKit
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandKitPatch'
      responses:
        '200':
          description: The updated kit and its current assets.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKitDetail'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    delete:
      summary: Archive a brand kit
      description: Archive one owned kit. The operation is idempotent. The kit and every current or replaced asset stay durable
        for already captured references.
      operationId: archiveBrandKit
      security:
      - bearerAuth: []
      responses:
        '204':
          description: The brand kit is archived.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/brand-kits/{brand_kit_id}/assets:
    parameters:
    - name: brand_kit_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/BrandKitId'
    post:
      summary: Add a brand asset
      description: Add one logo or WOFF2 font to an active owned kit. The declared Content-Type and the complete bytes must
        agree. No customer bytes or storage reference appears in the response.
      operationId: createBrandAsset
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
          font/woff2:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: The immutable asset was accepted and selected by the kit.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandAsset'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/brand-kits/{brand_kit_id}/assets/{asset_id}:
    parameters:
    - name: brand_kit_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/BrandKitId'
    - name: asset_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/BrandAssetId'
    get:
      summary: Read a brand asset
      description: Read the validated logo or font bytes from an owned kit. Captured assets remain readable after replacement
        or archive. Responses are private and must not be cached.
      operationId: readBrandAsset
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The validated image or WOFF2 font bytes.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            font/woff2:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
    put:
      summary: Replace a brand asset
      description: Create a new immutable asset of the same kind and make it current. The old asset and bytes stay unchanged
        for any template or queued operation that already captured its ID.
      operationId: replaceBrandAsset
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
          font/woff2:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: The new immutable current asset.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandAsset'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/AccountSuspended'
        '404':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '415':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
  /v1/pdf/{id}:
    get:
      summary: Get a PDF's status
      description: Return one render job's current status, in the same representation POST /v1/pdf answers with. Mints a fresh
        signed download link on every call while the PDF is still available.
      operationId: getPdf
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: The job's public identifier, such as "pdf_1f8b3c7d5e2a49061f8b3c7d5e2a4906".
        schema:
          type: string
          pattern: ^pdf_[0-9a-f]{32}$
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '200':
          description: The job's current status.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfJob'
        '401':
          description: The request did not carry a valid, active API key.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Always "Bearer" on this response.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: No job with this identifier belongs to the authenticated account. This is also the answer for an identifier
            that does not exist at all, or that is not well formed, so a request can never learn which one is true.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: An internal error occurred.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    delete:
      summary: Delete a PDF file or an unsuccessful render
      description: Remove a successful job's PDF from storage, or remove a failed or cancelled job from history. The job stays
        readable by ID, and billing, abuse limits, and idempotency keys stay unchanged. The file is removed before its database
        marker; a file-removal failure returns 500 and leaves the record live for a safe retry. Repeated requests are safe.
        At or after the fixed retention cutoff, the removal reason remains expired.
      operationId: deletePdf
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: The job's public identifier, such as "pdf_1f8b3c7d5e2a49061f8b3c7d5e2a4906".
        schema:
          type: string
          pattern: ^pdf_[0-9a-f]{32}$
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '200':
          description: The job's current status after file or history removal.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfJob'
        '401':
          description: The request did not carry a valid, active API key.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Always "Bearer" on this response.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: No job with this identifier belongs to the authenticated account. This is also the answer for an identifier
            that does not exist at all, or that is not well formed, so a request can never learn which one is true.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The job is queued or running, so it cannot be deleted.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: An internal error occurred.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /v1/downloads/{token}:
    get:
      summary: Download a finished PDF or image
      description: 'Return the finished PDF, PNG, JPEG, or WebP file a signed download link names. The link carries its own
        authority, so no other credential is read. The file is opened before 200 is returned: deletion that unlinks first
        gives 404, while a download that opens first finishes and every later download fails.'
      operationId: getDownload
      parameters:
      - name: token
        in: path
        required: true
        description: The signed download link.
        schema:
          type: string
      responses:
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '431':
          $ref: '#/components/responses/RequestHeadersTooLarge'
        '200':
          description: The finished PDF or image, bounded by the 25 MiB artifact limit.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        '403':
          description: The link is genuine but its time is over.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The link is not valid. This is also the answer for a link whose job or file does not exist, so a link
            can never be used to ask what this product holds.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: An internal error occurred.
          headers:
            x-request-id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
[...]
